<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, min-width:1000" />

<link rel="stylesheet" href="/static/css/web.css" type="text/css"/>
<link rel="stylesheet" href="/static/countdown.css" type="text/css">

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/js/functions.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.hoverIntent.minified.js"></script>

<script type="text/javascript">
	var locations = [{% for location in locations %}
			{
				lat: {{location.lat}},
				lng: {{location.lng}},
				{% if location.note %}note: "{{location.note}}"{% else %}note: false{% endif %}
			},
		{% endfor %}]
</script>

<title>ChildsIKlimb</title>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4364152-15']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body onload="initialize()">
	<div id="header" class="header">
		<span class="logo"><img src="/static/images/childsiklimb.png" alt="ChildsIKlimb" width="153" heigth="35" /></span>
		<span class="teamlabel">The team:</span>
		<span class="team">
			{% for climber in climbers %}{% if climber.image %}<img class="climber" src="/static/images/people/{{climber.image}}.jpg" height="50" width="50" alt="{{climber.name}}"/>{% endif %}{% endfor %}
		</span>
		<span class="totalizer">Total raised so far: <strong>£{{total}}</strong></span>
	</div>
	<div class="inforow">
		{% for climber in climbers %}{% if climber.firstname %}<span id="{{climber.firstname|lower}}" class="climbername">{{climber.firstname}}</span>{% endif %}{% endfor %}
		<span id="what">What will this buy?</span>
	</div>
	<div class="menu">
		<li><a href="http://www.justgiving.com/childsiklimb" target="_new">Donate now</a></li>
		<li><a href="http://www.childsifoundation.org/" target="_new">About the Child'sI Foundation</a></li>
		<br />
		<li><strong>Latest news</strong></li>
		{% for newsitem in newsitems %}
			<li class="news">{{newsitem.text}}<br />{{newsitem.created_at|timesince}} ago</li>
		{% endfor %}
		<br />
		<li><strong>Latest images</strong></li>
		<div class="thumbnailset">
		{% for image in images %}<a href="javascript:showImage('{{image.flickr_secret}}')"><img src="{{image.square}}" height="47" width="47"/></a>{% endfor %}
		</div>
	</div>
	<div id="image" class="content">
		<div class="close"><a href="javascript:hideAllContentWindows()">Close window <strong>X</strong></a></div>
		<div id="imagediv"></div>
	</div>
	<div id="audio" class="content">
		<div class="close"><a href="javascript:hideAllContentWindows()">Close window <strong>X</strong></a></div>
		<div id="audiodiv"></div>
	</div>
	<script type="text/javascript">
		hideAllContentWindows();
		
		$(".climber").hoverIntent(
			function() {
				hoverIn($(this).attr("src"));
			}, 
			function () {
				hoverOut($(this).attr("src"));
			}
		);
		
		function hoverIn(src) {
			label = src.replace(".jpg", "").replace("/static/images/people/", "#");
			$(label).addClass("visible");
		}

		function hoverOut(src) {
			label = src.replace(".jpg", "").replace("/static/images/people/", "#");
			$(label).removeClass("visible");
		}
	</script>
	<div id="debug"></div>
	<div class="countdown">
		<div class="countdownLabel">The climb has now been going for...</div>
		<div id="defaultCountdown"></div>
	</div>
	<script type="text/javascript">
		var newYear = new Date(); 
		newYear = new Date("Mon, Aug 01 04:00:00 UTC 2010");
		$('#defaultCountdown').countdown({since: newYear});
	</script>
	<div id="map_canvas" style="width:100%; height:100%"></div>
</body>